@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Patrick+Hand&display=swap');

.card {
    padding: 12px;
    background-color: rgb(42, 99, 165);
    border-radius: 12px;
}

.card:hover,
.card:focus {
    background-color: rgb(85, 160, 245);
    cursor: pointer;
}

.card-image {
    border: 2px solid white;
    border-radius: 8px;
    width: 150px;
    margin-bottom: 0;
}

.credit {
    font-size: 0.75em;
    font-style: italic;
    color: white;
    margin-top: 0;
}

.fact {
    font-family: "Patrick Hand", cursive;
    color: white;
}

.image-link {
    color: white;
    text-decoration: underline;
}