#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}

.num-cards-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.active {
  outline: solid 1px black;
}